<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "…" %> ⋅ Plume documentation</title>

    <% if ENV['CROWDIN'] == 'on' %>
      <script type="text/javascript">
        var _jipt = [];
        _jipt.push(['project', 'plume-docs']);
        _jipt.push(['escape', function() {
          window.location.href = 'https://docs.joinplu.me';
        }]);
      </script>
      <script type="text/javascript" src="//cdn.crowdin.com/jipt/jipt.js"></script>
    <% end %>

    <%= stylesheet_link_tag "site" %>
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/swagger-ui-dist@3.12.1/swagger-ui.css">
    <style><%= Rouge::Themes::Github.render(:scope => '.highlight') %></style>
    <link rel="shortcut icon" href="/images/favicon.png">
  </head>
  <body>
    <header>
      <h1><%= current_page.data.title %></h1>
      <p><%= current_page.data.summary %></p>
    </header>
    <aside>
      <i id="menu" data-feather="menu"></i>
      <nav>
        <a href="/"><span>Plume documentation</span><img src="/images/logo.svg" alt="Plume logo"></a>
	    <% resources = sitemap.resources
	        .select{ |p| p.path =~ /\.html/ && p.path != "index.html" }
	        .sort { |a, b| a.path <=> b.path }
        %>
        <%= partial :nav_item, :locals => { :items => resources.select { |r| r.url.chomp('/').split('/').size == 2 }, :resources => resources } %>
      </nav>
    </aside>
    <main>
      <% if current_page.data.show_links %>
        <%= partial 'nav' %>
      <% end %>
      <article>
        <%= yield %>
      </article>
    </main>
    <footer>
      Website and documentation under the AGPL 3.0 license.
      &mdash;
      <a href="https://git.joinplu.me/Plume/documentation">Source code of this website</a>
    </footer>
    <script>feather.replace()</script>
    <%= javascript_include_tag "site" %>
  </body>
</html>
